# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Flow Chile
FLOW_API_KEY=
FLOW_SECRET_KEY=
FLOW_API_URL=https://sandbox.flow.cl/api

# Meta Pixel
NEXT_PUBLIC_META_PIXEL_ID=

# App
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_NAME=TheGate

# Email (Resend)
RESEND_API_KEY=
STORE_CONTACT_EMAIL=
STORE_FROM_EMAIL=

# Admin
ADMIN_EMAIL=
